{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{partie.titre}}</h1>
    <h1>{{partie.description}}</h1>
    <table>
        <tbody>
        {% for objectif in objectifs %}
            <tr>
                <td>{{ objectif.titre }}</td>
                <td>{{ objectif.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
