{% extends "AppBundle::layout.html.twig" %}
{% block page_title %}Edition de contenu{% endblock %}
 {% block stylesheets %}
{{parent()}}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
 <script src="http://www.wiris.net/demo/editor/editor"></script>
  <script>
    var editor;
    window.onload = function () {
      editor = com.wiris.jsEditor.JsEditor.newInstance({'language': 'en'});
            editor.insertInto(document.getElementById('editorContainer'));                
    }

 </script>  
 <script>
function myFunction() {
  //alert(editor.getMathML());
   window.prompt("Copy to clipboard: Ctrl+C, Enter", editor.getMathML());
}
</script> 
{% endblock %} 
{% block body %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="{{ path('partie_index',{'id':0})}}">Home</a> 
          <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Edtion de contenu</a></li>
      </ul>
   {% endblock %}
      <div class="row-fluid sortable">    
        <div class="box span12">
          <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>{% block table_title %}{% endblock %}</h2>
            <div class="box-icon">
              <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
              <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
              <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
          </div>
          <div class="box-content">
{% block table %}

{% endblock %}
   <br> 
  </div>
</div>
</div>
{% endblock %}