{% extends 'layout.html.twig' %}
{% block baniere %}
<section class="page-header page-header-xs">
				<div class="container">
					<h1>{{campagne.nom}}</h1>
                     <span class="font-lato fs-18 hidden-xs-down">Modification des informations</span>
				</div>
</section>
{% endblock %}
{% block body %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-info" value="ENREGISTRER" />
    {{ form_end(edit_form) }}
{% endblock %}
   {% block pagination %}         

        {% endblock %}