/** Green	#1f618d
			#1f617e
 **************************************************************** **/
	::selection {
		background: #1f618d;
	}
	::-moz-selection {
		background: #1f618d; /* Firefox */
	}
	::-webkit-selection {
		background: #1f618d; /* Safari */
	}

	#aside nav ul li a:active,
	#aside nav ul li.menu-open,
	#aside nav ul li.always-open,
	#aside nav>ul>li>a:hover,
	#aside nav>ul>li>a:focus,
	#aside nav ul li.active,
	.fancy-file-upload.fancy-file-primary>span.button,
	.datepicker table tr td.active.active,
	.btn-primary,
	#header,

	/*.toast-primary,*/
	.popular .plan-title,
	body.min #aside ul.nav>li>ul li,
	body.min #aside ul.nav li.menu-open,
	body.min #aside ul.nav>li:hover>ul,
	#aside nav ul li a.dashboard,
	#aside .logo,
	body.min #asidesize,
	#aside, #asidebg {
		background-color: #1f617e;
	}
	
	body.min #aside ul.nav>li:hover:before {
		border-right-color: #1f617e;
	}

	.panel>.panel-heading strong {
		color:#1f618d;
	}
	
	.btn-primary {
		border-color:#1f618d;
	}

	.popular {
		border-color:#1f617e !important;
	}
	
	/**
		IMPORTANT
	**/
	.btn-primary,
	.alert-theme-color,
	.panel-primary>.panel-heading {
		background-color: #1f618d !important;
	}
	.panel-primary,
	.panel-primary>.panel-heading {
		border-color: #1f618d !important;
	}
	
	@media only screen and (min-width: 768px) {
		body.min #aside ul.nav>li:hover>a span {
			background-color: #1f617e;
		}
	/** Green	#1f618d
			#1f617e
 **************************************************************** **/
	::selection {
		background: #1f618d;
	}
	::-moz-selection {
		background: #1f618d; /* Firefox */
	}
	::-webkit-selection {
		background: #1f618d; /* Safari */
	}

	#aside nav ul li a:active,
	#aside nav ul li.menu-open,
	#aside nav ul li.always-open,
	#aside nav>ul>li>a:hover,
	#aside nav>ul>li>a:focus,
	#aside nav ul li.active,
	.fancy-file-upload.fancy-file-primary>span.button,
	.datepicker table tr td.active.active,
	.btn-primary,
	#header,

	/*.toast-primary,*/
	.popular .plan-title,
	body.min #aside ul.nav>li>ul li,
	body.min #aside ul.nav li.menu-open,
	body.min #aside ul.nav>li:hover>ul,
	#aside nav ul li a.dashboard,
	#aside .logo,
	body.min #asidesize,
	#aside, #asidebg {
		background-color: #1f617e;
	}
	
	body.min #aside ul.nav>li:hover:before {
		border-right-color: #1f617e;
	}

	.panel>.panel-heading strong {
		color:#1f618d;
	}
	
	.btn-primary {
		border-color:#1f618d;
	}

	.popular {
		border-color:#1f617e !important;
	}
	
	/**
		IMPORTANT
	**/
	.btn-primary,
	.alert-theme-color,
	.panel-primary>.panel-heading {
		background-color: #1f618d !important;
	}
	.panel-primary,
	.panel-primary>.panel-heading {
		border-color: #1f618d !important;
	}
	
	@media only screen and (min-width: 768px) {
		body.min #aside ul.nav>li:hover>a span {
			background-color: #1f617e;
		}
	}