{% extends 'layout.html.twig' %}

{% block body %}
                <!-- page title -->
                <header id="page-header">
                    <h1>Blank Page</h1>
                </header>
                <!-- /page title -->

                <div id="content" class="padding-20">

                    content here...

                </div>
{% endblock %}
