						<div class="col-lg-6 col-md-12">
							<div class="card">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Etats des ventes</h4>
	                                <p class="category">Ventes des télephones par marque</p>
	                            </div>
	                            <div class="card-content table-responsive">
	                                <table class="table table-hover">
	                                    <thead class="text-warning">
	                                        <th>ID</th>
	                                    	<th>Marque & modèle</th>
	                                    	<th>Nombre</th>
	                                    	<th>Valeur en XAF</th>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                        	<td>1</td>
	                                        	<td>Samsung Galaxy S4 T5</td>
	                                        	<td>28</td>
	                                        	<td>1 200 000 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>2</td>
	                                        	<td>Samsung S Gear Z 2016</td>
	                                        	<td>01</td>
	                                        	<td>125 900 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>3</td>
	                                        	<td>iPhone 7 plus 32 GO</td>
	                                        	<td>13</td>
	                                        	<td>1 720 000 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>4</td>
	                                        	<td>Nokia Lumia T620</td>
	                                        	<td>07</td>
	                                        	<td>720000 XAF</td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
						</div>