{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Paramétrages télephones{% endblock %}
{% block body %}
                    <div class="row">

	                    <div class="col-md-12">
	                        <div class="card card-stats">
	                            <div class="card-header" data-background-color="green">
	                                <h4 class="title">Etats des paramètrages de téléphone</h4>
	                                <p class="category">Cette liste détails les états de paramètrages</p>
	                            </div>
								<div class="card-content">
									<p class="category">Télephones configurés </p>
									<h3 class="title">86</h3>
								</div>								
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Nom du Client</th>
	                                    	<th>Telephone</th>
	                                    	<th>Date & Heure</th>
											<th>Nom du Commercial</th>
											<th>Conclusion</th>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                        	<td>Richard amougou</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217 08:24</td>
												<td>Penka w</td>
												<td class="text-primary">Terminée avec succès</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Dorethé Mambou</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217 09:24</td>
												<td>Agniess Aguy</td>
												<td class="text-primary">Tél non compatible</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Nicolas Tedonfeu</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217 35:24</td>
												<td>Agniess Aguy</td>
												<td class="text-primary">Terminée avec succès</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Tekeu Jean Ledou</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217 08:24</td>
												<td>Agniess Aguy</td>
												<td class="text-primary">Echec, raison inconnue</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Narcis Tejeuteu</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217 14:24</td>
												<td>Agniess Aguy</td>
												<td class="text-primary">Terminée avec succès</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Fokoua Alain</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217 08:24</td>
												<td>Agniess Aguy</td>
												<td class="text-primary">Terminée avec succès</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Dakota Rice</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217 13:24</td>
												<td>Robert Bi</td>
												<td class="text-primary">Echec, raison inconnue</td>
	                                        </tr>	
	                                        <tr>
	                                        	<td>Dakota Rice</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217 11:24</td>
												<td>Stephane Bak.</td>
												<td class="text-primary">Echec, raison inconnue</td>
	                                        </tr>	
															
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
</div>
   
{% endblock %}
