{% extends "AppBundle::table.html.twig" %}
{% block page_title %}Question{% endblock %}
  {% block page_sub_title %}
       <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="#">Home</a> 
          <i class="icon-angle-right"></i>       
        </li>
        <li>
          <a href="#">Question</a> 
          <i class="icon-angle-right"></i>        
        </li>        
        <li><a href="#">Création</a></li>
      </ul>
   {% endblock %}
   {% block table_title %}Création de question{% endblock %}    
{% block table %}
<div class="col-md-6">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('question_index', { 'id': partie.id }) }}">Back to the list</a>
        </li>
    </ul>
</div>
<div class="col-md-6">
 <div  style="width:100%;height:250px" id="editorContainer">
 </div>
 <button onclick="myFunction()">Obtenir la traduction</button>
 <p><strong>Note !</strong>Les touches de direction permettent de passer d'une case à l'autre plus facilement.</p>
</div>        
{% endblock %}
