{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Activités des commerciaux{% endblock %}
{% block body %}
	                <div class="row">
	                    <div class="col-md-6">
	                        <div class="card card-stats">
	                            <div class="card-header" data-background-color="blue">
	                                <h4 class="title">Les ventes</h4>
	                                <p class="category">Ventes par commercial</p>
	                            </div>
                                <div class="card-content">
									<p class="category">Total des ventes</p>
									<h3 class="title">1 258 000 XAF</h3>
								</div>
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Name du commercial</th>
	                                    	<th>Nobre de tél vendu</th>
	                                    	<th>Prix</th>										
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                        	<td>Joseph Djambock</td>
	                                        	<td>07</td>
	                                        	<td>138 000 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Robert Bibock</td>
	                                        	<td>17</td>
	                                        	<td>285 000 XAF</td>
	                                        </tr>
 	                                        <tr>
	                                        	<td>Agnes aguy</td>
	                                        	<td>1</td>
	                                        	<td>65 000 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Stephane Ba.</td>
	                                        	<td>11</td>
	                                        	<td>198 000 XAF</td>
	                                        </tr>
 	                                        <tr>
	                                        	<td>Gwack Marie</td>
	                                        	<td>04</td>
	                                        	<td>221 100 XAF</td>
	                                        </tr>  
  	                                        <tr>
	                                        	<td>Josepha Meyo</td>
	                                        	<td>04</td>
	                                        	<td>252 100 XAF</td>
	                                        </tr>                                                                                                                                                                            
	                                    </tbody>
	                                </table>

	                            </div>
	                        </div>
	                    </div>

	                    <div class="col-md-6">
	                        <div class="card card-stats">
	                            <div class="card-header" data-background-color="pulse">
	                                <h4 class="title">Les paramétrages</h4>
	                                <p class="category">paramétrages par commercial</p>
	                            </div> 
                                <div class="card-content">
									<p class="category">Cartes SIM utilisées</p>
									<h3 class="title">856</h3>
								</div>                               
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Name du commercial</th>
	                                    	<th>Nbre de tel paramétrés</th>
	                                    	<th>Nobre Cartes SIM utilisées</th>										
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                        	<td>Joseph Djambock</td>
	                                        	<td>07</td>
	                                        	<td>5</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Robert Bibock</td>
	                                        	<td>17</td>
	                                        	<td>17</td>
	                                        </tr>
 	                                        <tr>
	                                        	<td>Agnes aguy</td>
	                                        	<td>1</td>
	                                        	<td>0</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Stephane Ba.</td>
	                                        	<td>11</td>
	                                        	<td>09</td>
	                                        </tr>
 	                                        <tr>
	                                        	<td>Gwack Marie</td>
	                                        	<td>04</td>
	                                        	<td>01</td>
	                                        </tr>  
  	                                        <tr>
	                                        	<td>Josepha Meyo</td>
	                                        	<td>04</td>
	                                        	<td>04</td>
	                                        </tr>                                                                                                                                                                            
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>                        
</div>

{% endblock %}
