{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div id="content" class="dashboard padding-20">
                    <div class="panel panel-default">
                        <div class="panel-body">


                            <p class="lead">
                                <span class="e404">{{ status_code }}</span>
                                {{ status_text }}.<br />
                                Une erreur innattendue s'est produite. Nous tentons d'y remedier en cemoment
                            </p>


                        </div>
                    </div>

   </div>                
{% endblock %}
{% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>

 {% endblock %}