{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div id="content" class="dashboard padding-20">
                    <div class="panel panel-default">
                        <div class="panel-body">


                            <p class="lead">
                                <span class="e404">404</span>
                                La page que vous recherchez n'existe pas.<br />
                                Vous essayew peut-être d'acceder à une ressource qui a été supprimé par un autre utilisateur.
                            </p>


                        </div>
                    </div>

   </div>                
{% endblock %}
{% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>

 {% endblock %}