{% extends 'global-layout.html.twig' %}
{% block page_title %}Connexion{% endblock %}
{% block fos_user_content %}
<body>
	<a class="brand" href="#"><span>CENTOR</span></a>	
		<div class="container-fluid-full">
		<div class="row-fluid">
					
			<div class="row-fluid">
				<div class="login-box">
					<div class="icons">
						<a href="#"><i class="halflings-icon home"></i></a>
						<a href="#"><i class="halflings-icon cog"></i></a>
					</div>
					<h2>Connectez-vous à votre compte</h2>
					<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
						  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
						<fieldset>
							
							<div class="input-prepend" title="Adresse mail">
								<span class="add-on"><i class="halflings-icon user"></i></span>
				<input class="input-large span10" type="text" name="_username" id="username"  placeholder="Adresse mail" value="{{ last_username }}" required="required"/>
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Mot de passe">
								<span class="add-on"><i class="halflings-icon lock"></i></span>
				<input class="input-large span10"  name="password" type="password" id="password" name="_password" required="required"  placeholder="type password"/>
							</div>
							<div class="clearfix"></div>
							
							<label class="remember" for="remember"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />Se souvenir de moi</label>

							<div class="button-login">	
								<button type="submit" class="btn btn-primary">Connexion</button>
							</div>
							<div class="clearfix"></div>
					</form>
<br>					
{% if error %}
<div class="alert alert-error">
	<strong>Oh snap!</strong> {{ error|trans({}, 'FOSUserBundle') }}.
</div>	
{% endif %}										
					<hr>
					<h3>Mot de passe oublié ?</h3>
					<p>
						pas de problème, <a href="#">cliquez ici</a> pour reinitialiser.
					</p>	
				</div><!--/span-->
			</div><!--/row-->		
	</div><!--/.fluid-container-->
		</div><!--/fluid-row-->
	    <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<ul class="list-inline item-details">
					<li><a href="#">Centor .in</a></li>
					<li><a href="#">Espace interne</a></li>
				</ul>
			</div>
		</div>

</body>
{% endblock fos_user_content %}