<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">
                  <tr>
                    <td bgcolor="#ffffff">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="padding: 3px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                    <h1 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 24px; line-height: 27px; color: #333333; font-weight: normal;">
                                    Completez votre profil sur Centor !</h1>
                                    <p style="margin: 0;">
                                     Les informations dont nous disposons actuellement sur vous sont insuffisantes. 
                                     Nous avons besoin des informations telles que votre nom complet,
                                     votre série, votre niveau d'étude et votre ville d'études.
                                    Ces informations nous permettent de vous alerter des offres
                                    et concours encore plus interessantes et adoptés à votre profil.                                     
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0 40px; font-family: sans-serif; font-size: 15px; line-height: 20px;">
                                    <!-- Button : BEGIN -->
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                                        <tr>
                                            <td style="border-radius: 3px; background: #fff; text-align: center;" class="button-td">
                                                <a href="http://concours.centor.org{{ path('info_edit', { 'uid': info.uid }) }}" style="background: #ff4500; border: 15px solid #ff4500; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                                                    <span style="color:#ffffff;" class="button-link">Completez votre profil</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Button : END -->
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 3px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                    <h4 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 24px; line-height: 27px; color: #333333; font-weight: normal;">
                                        Protection des données personnelles</h4>
                                    <p style="margin: 0;">
                                    Les informations que nous collectons sur vous et votre 
                                    profil sont sousmises à la reglementation camerounaise sur la collecte et
                                    le traitement des données personnelles.
                                    Nous les utilisons uniquement dans le but
                                    de rendre le service plus éfficaces.                            
                                    </p>
                                </td>
                            </tr>                   
                        </table>
                    </td>
                </tr>
            </table>