<!-- Email Body : BEGIN -->
   <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%"><!-- Hero Image, Flush : BEGIN -->
     <tbody>
        <tr>
            <td><img alt="alt_text" src="https://firebasestorage.googleapis.com/v0/b/trainings-fa73e.appspot.com/o/filemsgs%2FWhatsApp_Logo_2.png?alt=media&token=1987a41d-9781-4e5b-ab00-c2bf3eb3982e" style="height:auto; margin:auto; width:100%" /></td>
        </tr>
        <!-- Hero Image, Flush : END -->
    </tbody>
   </table>
            <!-- Email Body : BEGIN -->
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">
                  <tr>
                    <td bgcolor="#ffffff" style="text-align: center;" >
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td style="padding: 3px; font-family: sans-serif; font-size: 11px; line-height: 14px; color: #555555;">
                                    <h1 style="text-align: center; margin: 0 0 10px 0; font-family: sans-serif; font-size: 17px; line-height: 17px; color: #333333; font-weight: normal;">Intégrez le groupe whatsApp</h1>
                                    <p style="margin: 0;text-align: center;">
                                    
                                    Collaborez encore plus entre concourants sur whatsApp. Rejoignez les personnes d'autres villes qui préparent le même concours que vous.                                 
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0 40px; font-family: sans-serif; font-size: 11px; line-height: 14px; color: #555555;">
                                    <!-- Button : BEGIN -->
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                                        <tr>
                                        
                                            <td style="border-radius: 3px; background: #fff; text-align: center;" class="button-td">
                                            <p style="margin: 0;text-align: center;">
                                               <br>
                                                <a href="{{lien}}" style="background: #25D366; border: 11px solid #25D366; font-family: sans-serif; font-size: 9px; line-height: 0.7; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                                                    <span style="color:#ffffff;" class="button-link">Intégrer le groupe whatsapp</span>
                                                </a>
                                                <br>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Button : END -->
                                </td>
                            </tr>                               
                        </table>
                    </td>
                </tr>
                  <tr>
           <td bgcolor="#ffffff" style="padding: 3px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;" >
       <p style="margin: 0;text-align: center;"><i><small>
       En intégrant le groupe WhatSapp, vous acceptez de discuter avec des milliers de personnes inconnues.
         </small></i><p>
                    </td>
                </tr>               
            </table>
