{% extends "AppBundle::layout.html.twig" %}
{% block title %}Ressource{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('ressource_index', { 'session': session.id }) }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
