{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Ventes des télephones{% endblock %}
{% block body %}
                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card card-stats">
	                            <div class="card-header" data-background-color="red">
	                                <h4 class="title">Historique des vente</h4>
	                                <p class="category">Historique des ventes réalisées aucours de la période</p>
	                            </div>
								<div class="card-content">
									<p class="category">Télephones vendus</p>
									<h3 class="title">28</h3>
								</div>								
	                            <div class="card-footer table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Nom du Client</th>
	                                    	<th>Telephone</th>
	                                    	<th>Date</th>
											<th>Nom du Commercial</th>
	                                        <th>Marque & Modèle</th>											
											<th>Prix </th>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                        	<td>Richard amougou</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Gzack Marie</td>
												<td>Samsung Galaxy S4 T5</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Dorethé Mambou</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Penka w</td>
												<td>Samsung S Gear Z 2016</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Nicolas Tedonfeu</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Penka w</td>
												<td>iPhone 7 plus 32 GO</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Tekeu Jean Ledou</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Joseph Djambock</td>
												<td>iPhone 7 plus 32 GO</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Narcis Tejeuteu</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Penka w</td>
												<td>Samsung Galaxy S4 T5</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Fokoua Alain</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Penka w</td>
												<td>iPhone 7 plus 32 GO</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>
	                                        <tr>
	                                        	<td>Dakota Rice</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Stephane Ba</td>
												<td>Nokia Lumia T620</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>	
	                                        <tr>
	                                        	<td>Dakota Rice</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Agniess Aguy</td>
												<td>Samsung Galaxy S4 T5</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>	
	                                        <tr>
	                                        	<td>Moni Prosper Luc</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Robert Bibock</td>
												<td>Nokia Lumia T620</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>																																																																<tr>
	                                        	<td>Noubissi Lionie</td>
	                                        	<td>654755224</td>
	                                        	<td>14/05/217</td>											
												<td>Agniess Aguy</td>
												<td>Samsung Galaxy S4 T5</td>
												<td class="text-primary">12300 XAF</td>
	                                        </tr>															
	                                    </tbody>
	                                </table>

	                            </div>
	                        </div>
	                    </div>
</div>

{% endblock %}
