{% extends 'layout.html.twig' %}
{% block page_title %}MESSAGER{% endblock %}
{% block fos_user_content %}
<body>
  <div class="wrapper">
      <div class="sidebar" data-color="blue" data-image="{{ asset('assets/img/sidebar-1.jpg') }}">
      <div class="logo">
        <a href="#" class="simple-text">
          MESSAGER
        </a>
      </div>
        <div class="sidebar-wrapper">
              <ul class="nav">
                  <li class="active">
                      <a href="{{ path('user_homepage') }}">
                         <i class="material-icons">dashboard</i>
                          <p>NOTIFICATIONS</p>
                      </a>
                  </li>      
          <li class="active-pro">
                      <a href="#">
                          <i class="material-icons">unarchive</i>
                          <p>CENTOR &copy;</p>
                      </a>
                  </li>
              </ul>
        </div>
    </div>
      <div class="main-panel">
      <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{% block title %}MESSAGER{% endblock %}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

              <li>
                <a href="{{ path('fos_user_security_logout') }}" >
                   <i class="material-icons">https</i>
                   <p class="hidden-lg hidden-md">Profile</p>
                 </a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
          <div class="content">
       <div class="container-fluid">
          <div class="row">
              {% block body %}
                

                 
             {% endblock body %}
              </div>
          </div>
          </div>

      </div>
  </div>
</body>
{% endblock fos_user_content %}