{% extends "AppBundle::layout.html.twig" %}

{% block body %}
 <div class="card"> 
  <div class="card-content">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
</div>
</div>
    <ul>
        <li>
            <a href="{{ path('abonnement_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
