{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menu</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ menu.theme }}</td>
            </tr>
            <tr>
                <th>Datesave</th>
                <td>{% if menu.dateSave %}{{ menu.dateSave|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Special</th>
                <td>{% if menu.special %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menu_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
